{% extends 'stally/base.html' %}
{% block title %}

Stally

{% endblock %}

    {% block body_block %}

    {% if user.is_authenticated %}
        <p>You are authenticated, and your username is {{ user }}!<p>
            {% if user.userprofile.markets.all %}
                <p>You are subscribed to the following markets: <p>
                <ul>
                    {% for market in user.userprofile.markets.all %}
                        <li>{{ market }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

    {% else %}
        <p>you are not authenticated<p>
    {% endif %}

    {% if markets %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Today's Top Markets</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                {% for market in markets %}
                    <a href="/market/{{ market.slug }}" class="list-group-item">
                        {{ market }}
                        <span class="badge"><span class="glyphicon glyphicon-heart"></span> {{ market.followedby.all|length }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}



    {% endblock %}